run = "npm run dev"
hidden = [".config", "package-lock.json"]

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"
syntax = "javascript"

[languages.javascript.languageServer]
start = [ "typescript-language-server", "--stdio" ]

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[nix]
channel = "stable-22_11"
